body {
  color: #414142;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 0 0;
}

#logo {
  text-align: center;
  background-color: #ededed;
  margin: 0 0 10px 0;
  padding: 0.75em 0;
}

#logo a {
  text-decoration: none;
  color: #414142;
  position: relative;
}

#logo span {
  vertical-align: middle;
  font-size: 1.5em;
}

#main-wrapper {
  margin: 0 auto;
  max-width: 750px;
}

#player-wrapper {
  margin: 0 auto;
  text-align: center;
}

#caption {
  height: 0;
  margin: auto;
  max-width: 640px;
  position: relative;
  top: -45px;
}

#caption span {
  background-color: black;
  color: #ffffff;
  font-size: 1.25em;
}

#info {
  margin: 0 auto;
  max-width: 640px;
}

#title-form {
  border: 1px solid black;
  height: 48px;
  text-align: center;
}

#title-text {
  border: none;
  display: inline-block;
  font-size: 30px;
  height: 36px;
  margin-top: 6px;
  width: 75%;
}

#title-text:focus {
  outline: 0;
}

#title-cancel,
#title-save {
  border: none;
  display: inline-block;
  height: 36px;
  position: relative;
  bottom: 6px;
}

#title-cancel {
  background-color: transparent;
  color: #d3d3d3;
}

#title-save {
  background-color: #383838;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 75px;
}

#buttons {
  margin: 10px auto;
  text-align: center;
}

#comment-button {
  background-color: #e52d27;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  margin: 0 auto;
  width: 100%;
}

#comment-bar {
  text-align: center;
  height: 70px;
  width: 100%;
}

#comment-input {
  border: 1px solid #d3d3d3;
  display: inline-block;
  height: 48px;
  width: 85%;
}

#comment-text,
#comment-wordcount {
  display: inline;
}

#comment-text {
  border: none;
  display: inline-block;
  font-size: 30px;
  height: 36px;
  width: 90%;
}

#comment-text:focus {
  outline: 0;
}

#comment-buttons {
  display: inline-block;
  position: relative;
  height: 48px;
  width: 48px;
  border: none;
  vertical-align: bottom;
}

#comment-add {
  background-color: #383838;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 36px;
  width: 75px;
  position: relative;
}

#comment-save {
  background-color: #e52d27;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  height: 36px;
  width: 75px;
  position: relative;
}

#comment-cancel {
  background-color: transparent;
  color: #d3d3d3;
  border: none;
  position: relative;
}

#comment-slot {
  display: inline;
  background-color: #fff001;
}

#live-comment {
  display: inline;
  font-style: italic;
  margin: 0 0 0 5px;
}

ul {
  list-style-type: none;
}

.time-link {
  color: blue;
  cursor: pointer;
  margin: 0 5px 0 0;
  text-decoration: underline;
}

.delete-link {
  color: blue;
  cursor: pointer;
  font-size: 0.75em;
  margin: 0 0 0 5px;
  text-decoration: underline;
  visibility: hidden;
}

#youtube-link {
  margin: 0 0 0 5px;
}
