.time-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#caption {
	color: #466BB0;
	background-color: #000;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: -65px;
	width: 640px;
	/*border: 1px solid black;*/
	z-index: 10;
	visibility: hidden;
}

#commentPane {
	margin: 0 auto;
	/*border: 1px solid black;*/
	max-width: 640px;
}

#main {
	width: 750px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

#playerwrap {
	margin: 0 auto;
	text-align: center;
}

ul {
	list-style-type: none;
}
