#main-wrapper {
  margin: 0 auto;
  width: 750px;
}

#player-wrapper {
  margin: 0 auto;
  text-align: center;
}

#caption {
  background-color: #000;
  color: #466bb0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -65px;
  width: 640px;
  visibility: hidden;
  z-index: 10;
}

#info-panel {
  margin: 0 auto;
  max-width: 640px;
}

#title {
  cursor: text;
}

#start-button,
#change-title-button {
  display: block;
  font-size: 1em;
  margin: 0 auto;
  height: 5em;
  width: 30em;
}

#word-count {
  background-color: yellow;
}

#comment-slot {
  background-color: yellow;
}

#live-comment {
  display: inline;
}

ul {
  list-style-type: none;
}

.time-link,
.delete-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}









